@import 'reset';

/* Specific */
body {
  // TODO to remove
  // background: #999;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.2;
  font-size: 1.2rem;
}

body {
  font-family: sans-serif;
  margin: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  text-align: center;
}

.app {
  margin: 0 auto;
  padding: 3rem;
  max-width: 660px;
}

.toggle-container {
  padding: 1rem;
}

.text-colors{
  font-family: monospace;
  display: flex;
  justify-content: space-around;
  color: #666;
  padding: 1rem;
  font-size: 1.5rem;
  text-shadow: 1px 1px 3px #999;
}


